<!--
  Generated template for the AboutLionismContentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="light" padding>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf='title==="Lions International Purpose"'>
    <ion-card>
      <ion-card-content>
        <b>To Organize,</b><br /> charter and supervise service clubs to be known as Lions clubs. <br />
        <b>To Coordinate</b><br /> the activities and standardize the administration of Lions clubs. <br />
        <b>To Create</b><br /> and foster a spirit of understanding among the peoples of the world. <br />
        <b>To Promote</b><br /> the principles of good government and good citizenship. <br />
        <b>To Take</b> <br />an active interest in the civic, cultural, social and moral welfare of the community. <br />
        <b>To Unite</b><br /> the clubs in the bonds of friendship, good fellowship and mutual understanding. <br />
        <b>To Provide</b><br /> a forum for the open discussion of all matters of public interest; provided, however,
        that partisan politics and sectarian religion shall not be debated by club members. <br />
        <b>To Encourage</b><br /> service-minded people to serve their community without personal financial reward, and
        to encourage efficiency and promote high ethical standards in commerce, industry, professions, public works and
        private endeavors. <br />
      </ion-card-content>
    </ion-card>
  </div>
  <div *ngIf='title==="Melvin Jones"'>
    <ion-card>
      <ion-card-content>
        Melvin Jones was born on 13th January,1879 at Fort Thomas Arizona. Melvin Jones made his home in Chicago,
        Illinois, became associated with an insurance firm, and in 1913 formed his own agency.
        He soon joined the Business circle, a businessmen’s luncheon group and was shortly elected Secretary.This group
        was one of many at that time devoted solely to promoting the financial interests of their membership. Melvin
        Jones asked this group “What if these men who are successful because of their drive, intelligence and ambition,
        were to put their talents to work improving their communities?”.Thus,at his invitation,delegates from men’s
        clubs meet in Chicago to lay the groundwork for such an organization and on 07thJune, 1917,Lions Clubs
        International was born. It was stipulated that clubs were not to be social in nature nor were members permitted
        to promote their own business interests.
        Jones eventually abandoned his insurance agency to devote himself full time to Lions at International
        Headquarters in Chicago. It was under his dynamic leadership that Lions Clubs earned the prestige necessary to
        attract civic minded men.
        The association’s founder was also recognized as a leader outside the association. One of his greatest honours
        was in 1945, when he represented Lions Clubs International as a consultant in San Francisco, California at the
        Organization of the United Nations.
        Melvin Jones, the man whose personal code “You can’t get very far until you start doing something for somebody
        else” became a guiding principle for public spirited people the world over, died on 01st June, 1961 at the age
        of 82 years.
      </ion-card-content>
    </ion-card>
  </div>
  <div *ngIf='title==="Lions International History"'>
    <ion-card>
      <ion-card-content>
        <b>1917: The Beginning</b><br />
        In 1917, a Chicago business leader asked a simple and world-changing question what if people put their talents
        to work improving their communities. One hundred years later, Lions Clubs International is the world's largest
        service club organization, with 1.45 million members and countless stories of Lions acting on the same simple
        idea:let's improve our communities.
        <br />
        <br />
        <b>1920: Going International </b><br />
        Just three years later, Lions went international by establishing the first club in Canada. Mexico followed in
        1927. In the 1950s and 1960s international growth accelerated, with new clubs in Europe, Asia and Africa.
        <br />
        <br />
        <b>1925: Helen Keller and the “Crusade Against Darkness”/ Eradicating Blindness</b>
        One of the lions International earliest and most influential causes has been eradicating blindness. It began in
        1925, when Helen Keller addressed the Lions Clubs International Convention in Cedar Point, Ohio, USA. She
        challenged Lions to become “knights of the blind in the crusade against darkness”. Since then, Lions havfe
        worked tirelessly to fulfill her charge to aid the blind and visually impaired.
        <br />
        <br />
        <b>1945: Uniting Nations </b><br />
        The ideal of an international organization is exemplified by enduring relationship with the United Nations.
        Lions International was one of the first nongovernmental organizations invited to assist in the drafting of the
        united Nations Charter and have supported the work of the UN ever since.
        1957: Establishing Youth Programs
        In the late 1950s, Lions International created the Leo Program to provide the youth of the world an opportunity
        for personal development and contribution. There are now more than 5,500 Leo clubs in more than 130 countries,
        with more than 140,000 Leos worldwide.
        <br />
        <br />
        <b>1968: Establishing our Foundation</b><br />
        Lions International Foundation assists Lions with global and large-scale local humanitarian projects. Through
        our Foundation, Lions meet the needs of their local and global communities.
        <br />
        <br />
        <b>1990: Launching Sight First</b><br />
        Through Sight First, Lions are restoring sight and preventing blindness on a global scale. Launched in 1990,
        Lions have raised more than $346 million for this initiative. Sight First targets the major causes of
        blindness: cataract, trachoma, river blindness, childhood blindness, diabetic retinopathy and glaucoma.
        <br />
        <br />
        <b>Today: Extending our Reach</b><br />
        Lions Clubs International extends our mission of service every day – in local communities, in all corners of
        the globe. The needs are great and our services broad, including sight, health, and youth, elderly, the
        environment and disaster relief. Out international network has grown to include over 210 countries and
        geographic areas.

      </ion-card-content>
    </ion-card>
  </div>
  <div *ngIf='title==="Hellen Keller"'>
    <ion-card>
      <ion-card-content>
        Born in Tuscumbia, Alabama, USA in 1880. Helen Keller developed a fever at 18 months of age that left her blind
        and deaf. With the help of an exceptional teacher, Anne Mansfield Sullivan of the Perkins School for the Blind,
        Helen Keller learned sign language and braille.
        A few year later she learned to speak. As an adult she became a tireless advocate for people with disabilities.
        And in 1925 she attended the Lions Clubs International Convention and challenged Lions to become “Knights of
        the blind in the crusade against darkness.” The Lions accepted her challenge and our work ever since has
        included sight programs aimed at preventable blindness.
        <br />
        In 1971, the Board of Directors of Lions Clubs International declared that June 1st would be remembered as
        Hellen Keller Day. Lions around the world implement sight-related service projects on Hellen Keller Day.
        Transcript of Hellen Keller’s speech at 1925 International Convention, Cedar Point, Ohio, USA on June 30th,
        1925
        <br />
        <br />
        <i> “Dear Lions and Ladies,
          I suppose you have heard the legend that represents opportunity as a capricious lady, who knocks at every
          door
          but once, and if the door isn’t opened quickly, she passes on, never to return. And that is as it should be.
          Lovely, desirable ladies won’t wait. You have to go out and grab them.
          <br />
          I am your opportunity. I am knocking at your door, I want to be adopted. The legend doesn’t say what are to
          do
          when several beautiful opportunities present themselves at the same door. I guess you have to choose the one
          you love best. I hope you will adopt me. I am the youngest here, and what I offer you is full of splendid
          opportunities for service.
          <br />
          The American Foundation for the Blind is only four years old. It grew out of the imperative needs of the
          blind,
          and was called into existence by the sightless themselves. It is national and international in scope and in
          importance. It represents the best and most enlightened thought on our subject that has been reached so far.
          Its object is to make the lives of the blind more worthwhile everywhere by increasing their economic value
          and
          giving them the joy of normal activity.
          <br />
          Try to imagine how you would feel if you were suddenly stricken blind today. Picture yourself stumbling and
          groping at noonday as in the night; your work, your independence, gone. In that dark world wouldn’t you be
          glad
          if a friend took you by the hand and said, “Come with me and I will teach you how to do some of the things
          you
          used to do when you could see?”. That is just the kind of friend the American Foundation is going to be to
          all
          the blind in this country if seeing people will give it the support it must have.
          <br />
          You have heard how through a little world dropped from the fingers of another, a ray of light from another
          soul
          touched the darkness of my mind and I found myself, found the world, found God. It is because my teacher
          learned about me and broke through the dark, silent imprisonment which held me that I am able to work for
          myself and for others. It is the caring we want more than money. The gift without the sympathy and interest
          of
          the giver is empty. If you care, if we can make the people of this great country care. The blind will indeed
          triumph over blindness.
          <br />
          The opportunity I bring to you, Lions is this: To foster and sponsor the work of the American Foundation for
          the Blind. Will you not help me hasten the day when there shall be no preventable blindness; no little deaf,
          blind child untaught; no blind man or woman unaided? I appeal to you Lions, you who have your sight, your
          hearing, you who are strong and brave and kind. Will you not constitute yourselves Knights of the Blind in
          this
          crusade against darkness?
          <br />
          I thank you.</i>
      </ion-card-content>
    </ion-card>
  </div>
  <div *ngIf='title==="Lions Code of Ethics"'>
    <ion-card>
      <ion-card-content>
        <b>TO SHOW</b> <br />my faith in the worthiness of my vocation by industrious application to the end that I may
        merit a
        reputation for quality of service.
        <br />
        <b>TO SEEK</b><br /> success and to demand all fair remuneration or profit as my just due, but to accept no
        profit or
        success at the price of my own self-respect lost because of unfair advantage taken or because of questionable
        acts on my part.
        <br />
        <br />
        <b>TO REMEMBER</b> <br />that in building up my business it is not necessary to tear down another’s to be loyal
        to my
        clients or customers and true to myself.
        <br />
        <br />
        <b>WHENEVER</b><br /> a doubt arises as to the right or ethics of my position or action towards others, to
        resolve such
        doubt against myself.
        <br />
        <br />
        <b>TO HOLD</b> <br />friendship as an end and not a means. To hold that true friendship exists not on account
        of the service
        performed by one to another, but that true friendship demands nothing but accepts service in the spirit in
        which it is given.
        <br />
        <br />
        <b>ALWAYS</b> <br />to bear in mind my obligations as a citizen to my nation, my state and my community, and to
        give them my
        unswerving loyalty in word, and act deed. To give them freely of my time, labour and means.
        <br />
        <br />
        <b>TO AID</b> <br />others by giving my sympathy to those in distress, my aid to the weak and my substance to
        the needy.
        <br />
        <br />
        <b>TO BE CAREFUL</b> <br />with my criticism and liberal with my praise to build up and not destroy.

      </ion-card-content>
    </ion-card>
  </div>
  <div *ngIf='title==="Association Name and Symbol"'>
    <ion-card>
      <ion-card-content>
        <b>The Lions Name</b><br />
        On June 7, 1917 at the invitation of Melvin Jones, delegates met in Chicago. The only point of contention was
        the selection of a name for the new organization. Melvin Jones researched the idea of calling the new
        organization Lions. He was convinced that the lion stood for strength, courage, fidelity and vital action. On a
        secret ballot the name Lions was chosen over several others.
        <br />
        <br />
        <b>The Lions Emblem</b><br />
        At the 1919 convention, there was a move to change the symbol, but a young attorney from Denver, Colorado rose
        to speak. His name was Halsted Ritter. "The name Lions stands not only for fraternity, good fellowship,
        strength of character and purpose, but above all, its combination of L-I-O-N-S heralds to the country the true
        meaning of citizenship: LIBERTY, INTELLIGENCE, OUR NATION'S SAFETY." The January 1931 issue of THE LION
        Magazine featured this interpretation of the association's name:
        Our name was not selected at random, neither was it a coined name. From time immemorial, the lion has been the
        symbol of all that was good, and because of the symbolism that name was chosen. Four outstanding qualities –
        Courage, Strength, Activity and Fidelity – had largely to do with the adoption of the name. The last mentioned
        of these qualities, Fidelity, has a deep and peculiar significance for all Lions. The lion symbol has been a
        symbol of Fidelity through the ages and among all nations, ancient and modern. It stands for loyalty to a
        friend, loyalty to a principle, loyalty to a duty, loyalty to a trust.
        The emblem consists of a gold letter "L" on a circular area. Bordering this is a circular area with two Lion
        profiles facing away from the center. The word "Lions" appears at the top and "International" at the bottom.
        The Lions face both past and future – showing both pride of heritage and confidence in the future.
        <br />
        <br />
        <b>Official Colors</b><br />
        Pantone Matching System (PMS) is a popular color matching system used by the printing industry to print spot
        colors. Most applications that support color printing allow you to specify colors by indicating the Pantone
        name or number. This assures that you get the right color when the file is printed, even though the color may
        not look right when displayed on your monitor. The following are specified Pantone colors for Lion logos:
        <br />
        One colour Logo : PMS 287
        <br />
        Two colour logo : PMS 287 and PMS 7406
        <br />
      </ion-card-content>
    </ion-card>
  </div>
  <div *ngIf='title==="LCIF and Lions Reach Millions People"'>
    <ion-card>
      <ion-card-content>
        Lions around the world are united by a great spirit of giving and dedication to helping others. As the official
        charitable Organization of Lions Club International, Lions Club International Foundation(LCIF) supports Lion’s
        compassionate work by providing grant funding for their local and global humanitarian efforts.
        <br />
        <br />
        LCIF helps Lions improve peoples’ living around the world, from combating vision problems to responding to
        major catastrophes to providing valuable life skills to youth. Because LCIF help Lions carry out large scale
        projects through our grant programs, Lions increase their impact in their local and global communities and
        serve even more people in need around the world.
        <br />
        <br />
        Donations from 1.4 + million Lions in 210 countries and geographic areas provide the vast majority of the
        revenue received by LCIF, making the Foundation a leading humanitarian Organization.
        <br />
        <br />
        <b>We from lasting and successful partnerships</b><br />
        LCIF leverages the donation we receive through effective partnerships with other Foundations, Corporations and
        Governments on the local, national and international level. We are proud that LCIF was named the One
        non-governmental organization worldwide with which to partner, according to a 2007 Financial Times independents
        survey.
        <br />
        <br />
        <b>We have key areas of service</b>
        To support Lion’s mission of serving communities and meeting humanitarian needs, LCIF provides grants in these
        focus area:
        Saving Sight, Serving Youth, Providing Disaster Relief, Meeting Humanitarian Needs.
        <br />
        <br />
        <b>MJF Facts</b>
        The Fellowship was established in 1973 and the Progressive Program began in 1986 in response to Lion’s request
        for a way to extend their commitment to LCIF. Donations through MJFs provide 75 percent of the Foundation’s
        annual revenue. There are 54 levels in the PMJF Program. As of January, 2016, there are 386, 804 MJF recipients
        and 75,067 PMJF recipients worldwide.
        <br />
        <br />
        The names of MJFs are displayed on a computer in the LCIF Room at International Headquarters.

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>