page-home {
    ion-col div {
        text-align: center;
        margin-top: 30px;
        font-size: 20px;
      }
    
      .mion-card{
          height: 100px;
      }
      .imgs{
          width: 60px;
          height: 60px;
          margin: auto;
          margin-top: 5px;
      }
      .noticard{
          height: 50px!important;
      }
      .notidiv{
        text-align: center;
        margin-top: 8px;
        font-size: 17px;
      }
}