<!--
  Generated template for the ProfileViewerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-navbar>
  <ion-toolbar *ngIf="showSearchbar">
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div *ngIf='status==="regular"'>
      <ion-item ion-item *ngFor="let item of tempItems | async" padding>
        <!-- <div *ngIf='item == null'></div> -->
        <!-- <div *ngIf='item != null'>{{item.name}}</div> -->
        <div><b>{{item.payload.val().name}}</b></div>
        <div>{{item.payload.val().position}}</div>
        <div>{{item.payload.val().homeClub}}</div>
        <div>{{item.payload.val().spouse}}</div>
        <div>{{item.payload.val().address}}</div>
        <div>{{item.payload.val().email}}</div>
        <div>{{item.payload.val().mobileNumber}}(M){{item.payload.val().residancePhoneNumber}}(R){{item.payload.val().officePhoneNumber}}(O)</div>
      </ion-item>
    </div>
    <div *ngIf='status==="region"'>
      <button ion-item *ngFor="let region of regionsList" padding (click)="regionSelected(region)">
        {{region |uppercase}}
      </button>
    </div>
    <div *ngIf='zoneStatus==="on"'>
      <button ion-item *ngFor="let zone of zoneList" padding (click)="zoneSelected(zone)">
        {{zone |uppercase}}
      </button>
    </div>
    <div *ngIf='clubStatus==="on"'>
      <button ion-item *ngFor="let item of tempItems | async" padding (click)="clubSelected(item.payload.key)">
        {{item.payload.key}}
      </button>
    </div>
  </ion-list>
  <!-- <ul>
    <li *ngFor="let item of items | async">
       {{ item | json }}
    </li>
  </ul> -->
</ion-content>