<!--
  Generated template for the ProfileViewerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div *ngIf='status==="regular"'>
      <ion-item ion-item *ngFor="let item of items | async" padding>
        <!-- <div *ngIf='item == null'></div> -->
        <!-- <div *ngIf='item != null'>{{item.name}}</div> -->
        <div><b>{{item.name}}</b></div>
        <div>{{item.position}}</div>
        <div>{{item.homeClub}}</div>
        <div>{{item.spouse}}</div>
        <div>{{item.address}}</div>
        <div>{{item.email}}</div>
        <div>{{item.mobileNumber}}(M){{item.residancePhoneNumber}}(R){{item.officePhoneNumber}}(O)</div>
      </ion-item>
    </div>
    <div *ngIf='status==="region"'>
        <button ion-item *ngFor="let region of regionsList" padding>
          {{region}}
        </button>
    </div>
  </ion-list>
  <!-- <ul>
    <li *ngFor="let item of items | async">
       {{ item | json }}
    </li>
  </ul> -->
</ion-content>